.container {
  padding: 2rem;
}

.dataMessage {
  font-size: large;
  text-align: center;
  margin: 2rem;
}

.dataContainer {
  display: grid;
  gap: 1rem;
  padding: 0 10rem;
  margin: 0 auto;
}

.pageContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 10rem;
  padding-bottom: 2rem;
}

.pageContainer button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageContainer button:hover {
  background-color: #2980b9;
}

.cstContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 20rem;
  background: white;
}

.cstContainer span {
  background-color: #f5f5f5;
  padding: 0.75rem;
}

.cstContainer img {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  padding-left: 1rem;
}

.cstContainer input {
  flex: 1;
  border: none;
  padding: 0.75rem;
  font-size: 16px;
  outline: none;
}
